#website{
  width:1000px;
  margin:0px auto 10px;
  padding:2em;
  box-sizing:border-box;
}

.picture{
  float:left;
  width: 32%;
  margin: 10px 50px 10px 20px;
}


.logo {
float: left;
width: 15%;
margin: 10px 15px 10px 0px;
}

.contact {
  float:left;
  width: 70%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
/*  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  display: flex;
}


.column2of2 {
float: left;
width: 620px
margin: 20px;
}

.button {
       background-color: slateblue;
       border: none;
       color: black;
       padding: 10px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 15px;
       margin: 4px 2px;
       cursor: pointer;
}

body {
  font-family: 'Comic Sans MS', 'ChalkboardSE-Light', sans-serif;
  src: url("comic.ttf");
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}


/* body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.5;
} */

.menu {
  font-size: 25px;
  overflow: hidden;
  display: flex;
  position: fixed;
  left:auto;
  top: 1.5%;
  width:950px;
  margin: 5px;
}

nav{
margin: 10em;
text-align: center;
/*left:10%
top:10%
overflow:hidden;*/
color:#283747;
background-color:#F9F6F5;
font-size: 25px;
}

nav ul{
margin: 0px;
padding: 0px 0px 0px 0px;
text-align:center;
}

nav li{
  display: inline;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
}

nav li a{
text-decoration: none;
color: red;
}


/* unvisited link */
a:link {
  color: #0D2166;
  text-decoration: none;

}

/* visited link */
a:visited {
  color: #0D2166;
}

/* mouse over link */
a:hover {
  color: #CF6534;
}

/* selected link */
a:active {
  color: #0D2166;
}

.cv{
  float:left;
  width:33%
}

.email {
  float:left;
  width:33%
}

.contact{
  float:left;
  width:34%
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}

tr.noBorder td {
  border: 0;
}

.tab { text-indent:40px }

ul.b {
  list-style-type: square;
  margin-top: -1px;
  margin-left: 10px;
}

ul.n {
  margin-top: -10px;
  margin-left: 0px;
}

.grey {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
    font-size: 0.75em;
}

.boxed {
  border: 1.5px dashed navy ;
  padding: 0.5em
}

#more {display: none;}
/*Definition list*/
/*dd {
  display: block;
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}
*/


.button1 {
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Comic Sans MS', 'ChalkboardSE-Light', sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover {background-color: #3e8e41}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
