/* Force remove hover/focus/active background from Taiwan flag image and its link (most specific) */
a[href="https://en.wikipedia.org/wiki/Taiwan"]:hover,
a[href="https://en.wikipedia.org/wiki/Taiwan"]:focus,
a[href="https://en.wikipedia.org/wiki/Taiwan"]:active,
a[href="https://en.wikipedia.org/wiki/Taiwan"] > img:hover,
a[href="https://en.wikipedia.org/wiki/Taiwan"] > img:focus,
a[href="https://en.wikipedia.org/wiki/Taiwan"] > img:active {
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
/* Remove hover/focus/active background and outline from Taiwan national flag image and link */
.picture a[href*="taiwan"]:hover,
.picture a[href*="taiwan"]:focus,
.picture a[href*="taiwan"]:active,
.picture a[href*="taiwan"] img:hover,
.picture a[href*="taiwan"] img:focus,
.picture a[href*="taiwan"] img:active {
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
/* Remove hover background color on Taiwan national flag */
a[href*="taiwan"]:hover, a[href*="taiwan"]:focus, a[href*="taiwan"] img:hover, a[href*="taiwan"] img:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.button1 {
  background-color: #ffc107 !important;
  color: #222 !important;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.button1:hover, .button1:focus {
  background-color: #ffd740 !important;
  color: #222 !important;
}
/* Style for More, CV, and Short Bio buttons to match navigation bar */
.button1 {
  background-color: rgba(255, 193, 0, 0.52);
  color: #283747;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.button1:hover, .button1:focus {
  background-color: #ffc107;
  color: #222;
}
/* Remove hover background color from city images in the flex row */
div[style*="display: flex"] a:hover,
div[style*="display: flex"] a:focus,
div[style*="display: flex"] a img:hover,
div[style*="display: flex"] a img:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  color: inherit !important;
}
/* Remove hover/focus background and color from social icons */
.sociallogo a:hover,
.sociallogo a:focus {
  background-color: transparent !important;
  color: inherit !important;
}
/* Force remove all hover/focus background and outline from social icons */
.sociallogo a img:hover,
.sociallogo a img:focus,
.sociallogo a:active img,
.sociallogo a:visited img,
.sociallogo a img {
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
/* Remove hover background color and shadow from social icons */
.sociallogo a img:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Increase social media icon size (override HTML attributes if present) */
.sociallogo img {
  width: 36px !important;
  height: 36px !important;
  vertical-align: middle;
}
/* Remove hover background color on pictures and their links */
.picture:hover, .picture a:hover {
  background-color: transparent !important;
}
#website{
  width:1000px;
  margin:0px auto 10px;
  padding:2em;
  box-sizing:border-box;
}


.picture{
  float:left;
  width: 32%;
  margin: 10px 50px 10px 20px;
  /* background-color removed to eliminate hover effect */
}


.picture a:hover{
  /* background-color removed to eliminate hover effect */
  color:inherit;
}


.logo {
float: left;
width: 50%;
margin: 10px 15px 10px 0px;
}

.logo a:hover{
background-color:white;
color:white;
}


.contact {
  float:left;
  width: 30%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
/*  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  display: flex;
}


.column2of2 {
float: left;
width: 900px;
margin: 20px;
}

.button {
       background-color: slateblue;
       border: none;
       color: black;
       padding: 10px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 15px;
       margin: 4px 2px;
       cursor: pointer;
}



@font-face {
    font-family: 'arvoregular';
    src: url('https://jeffjkuo.github.io/CSS/fonts/Arvo/arvoregular.ttf') format('truetype'),
         url('https://jeffjkuo.github.io/CSS/fonts/Arvo/arvoregular.woff') format('woff'),
         url('https://jeffjkuo.github.io/CSS/fonts/Arvo/arvoregular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'fjallaone';
    src: url('/CSS/fonts/Fjallaone/fjallaone.ttf') format('truetype'),
         url('/CSS/fonts/Fjallaone/fjallaone.woff') format('woff'),
         url('/CSS/fonts/Fjallaone/fjallaone.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.bolded { font-weight: normal; }

body {
  font-family: 'wildwest', Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}



/* Comic Fonts */
/* body {
  font-family: 'Comic Sans MS', 'ChalkboardSE-Light', sans-serif;
  src: url("comic.ttf");
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}
*/

/* Apple-Style Font */
/* body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
}
*/

.menu {
  font-size: 25px;
  overflow: hidden;
  display: flex;
  position: fixed;
  left:auto;
  top: 1.5%;
  width:900px;
  margin: 5px;
}

nav{
margin: 10em;
text-align: center;
/*left:10%
top:10%
overflow:hidden;*/
color:#283747;
background-color: rgba(255, 193, 0, 0.52);
font-size: 25px;
}

nav ul{
margin: 0px;
padding: 0px 0px 0px 0px;
text-align:center;
}

nav li{
  display: inline;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
}

nav li a{
text-decoration: none;
color: red;
}


/* unvisited link */
a:link {
  color: #0D2166;
  text-decoration: none;

}

/* visited link */
a:visited {
  color: #0D2166;
}

/* mouse over link */
a:hover {
  color: white;
  background-color: #9c0707;
}

/* selected link */
a:active {
  color: #0D2166;
}

.cv{
  float:left;
  width:33%
}

.email {
  float:left;
  width:33%
}

.contact{
  float:left;
  width:34%
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}

tr.noBorder td {
  border: 0;
  opacity: 0.59;
}


ul.right {
text-align: right;
}

ul.b {
  list-style-type: square;
  margin-top: -1px;
  margin-left: 10px;
}

ul.n {
  margin-top: -10px;
  margin-left: 0px;
}

.grey {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
    font-size: 0.75em;
}

.boxed {
  border: 1.5px dashed navy ;
  padding: 0.5em;
  color: #e4d8d8;
}

#more {display: none;}
/*Definition list*/
/*dd {
  display: block;
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}
*/


.button1 {
  display: inline-block;
  padding: 5px 15px;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover {background-color: #3e8e41}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
