#website{
  width:1000px;
  margin:auto;
  padding:2em;
  box-sizing:border-box;
}

.column1of2 {
float: left ;
width: 300px;
margin: 20px;
}

.column2of2 {
float: left;
width: 620px
margin: 20px;
}

/* unvisited link */
a:link {
  color: navy;
}

/* visited link */
a:visited {
  color: none;
}

/* mouse over link */
a:hover {
  color: dodgerblue;
}

/* selected link */
a:active {
  color: indigo;
}
